#about {
  /* background-image: linear-gradient(transparent 80%, white); */
  scroll-behavior: smooth;
  min-height: 100vh;
  overflow: hidden;
}

#backgroundImg {
  animation: backgroundFade 2s;
  position: fixed;
  height: 150vh;
  width: 100vh;
  top: -30%;
  bottom: auto;
  left: auto;
  right: -50%;
  object-fit: contain;
  z-index: -999;
}

#aboutContainer {
  background-image: linear-gradient(white 0%, transparent 4%);
  padding-bottom: 60vh;
  animation: backgroundFade 2s;
}

.aboutText {
  padding: 5% 0 0% 8%;
  color: black;
}

#aboutTitle {
  background-image: linear-gradient(
    rgba(233, 233, 233, 0.8),
    rgba(233, 233, 233, 0.5)
  );
  border-radius: 20px 0 20px 20px;
  padding: 2px 10px 2px 10px;
  text-shadow: 0px 0px 3px white;
  width: 40%;
  margin: 0;
  box-shadow: #424242 2px 2px 10px;
}
.aboutBody {
  background-image: linear-gradient(
    rgba(233, 233, 233, 0.8),
    rgba(233, 233, 233, 0.5)
  );
  border-radius: 20px 0 20px 20px;
  padding: 2px 10px 2px 10px;
  text-shadow: 0px 0px 3px white;
  font-size: 1rem;
  width: 40%;
  box-shadow: #424242 2px 2px 10px;
  opacity: 100%;
}

#aboutB {
  opacity: 0;
  margin-top: 10vh;
}
#aboutC {
  opacity: 0;
}
#aboutD {
  opacity: 0;
  border-bottom: 40vh;
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
  animation-name: "fadeIn";
  animation-duration: 4s;
}

.scrollerContainer {
  position: absolute;
  left: 50%;
  background-color: aliceblue;

  position: fixed;
  width: 5vh;
  height: 10vh;
  top: 80%;
  margin-top: -35px;
  margin-left: -20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px white;
  opacity: 0;
  transition: opacity 1s ease-in;
}
.background-fade-in {
  opacity: 0.5;
}

.icon-scroll {
  position: fixed;
  width: 5vh;
  height: 10vh;
  margin-left: -20px;
  top: 80%;
  margin-top: -35px;
  color: black;
  box-shadow: inset 0 0 0 4px black;
  border-radius: 25px;
  opacity: 0;
  transition: opacity 1s ease-in;
}

.icon-fade-in {
  opacity: 1;
}
.icon-scroll:before {
  content: "";
  width: 1vh;
  height: 1vh;
  background: black;
  margin-left: -0.5vh;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: var(--scroll-animation);
}

@keyframes scrollDownAnimation {
  0% {
    opacity: 1;
    transform: translateY(8vh);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

@keyframes scrollUpAnimation {
  100% {
    opacity: 1;
    transform: translateY(8vh);
  }
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
}

@keyframes backgroundFade {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@media only screen and (min-width: 768px) {
  #backgroundImg {
    position: fixed;
    height: 120vh;
    top: -15%;
    bottom: auto;
    left: auto;
    right: -10%;
    z-index: -1;
  }
  #aboutB {
    opacity: 0;
    margin-top: 20vh;
  }
}

@media only screen and (min-width: 992px) {
  #backgroundImg {
    position: fixed;
    height: auto;
    top: -35%;
    bottom: auto;
    left: auto;
    right: -20%;
    z-index: -1;
  }
}

@media only screen and (min-width: 1200px) {
  #about {
    width: 100%;
  }

  #aboutContainer {
    margin-right: 0px;
    padding-bottom: 60vh;
  }
  #backgroundImg {
    position: fixed;
    top: -35%;
    left: 25%;
    right: 0;
    width: 65%;
    z-index: -999;
  }

  .aboutText {
    padding: 5% 0 0% 25%;
    color: black;
    font-size: 1.2rem;
  }

  #aboutTitle {
    width: 20%;
  }
  .aboutBody {
    font-size: 1.2rem;
    background-image: linear-gradient(
      rgba(233, 233, 233, 0.8),
      rgba(233, 233, 233, 0.5)
    );
    width: 20%;
  }
}
@media only screen and (min-width: 3840px) {
  .aboutText {
    font-size: 2rem;
  }
  .aboutBody {
    font-size: 2rem;
  }
  #aboutB {
    margin-top: 40vh;
  }
}

@media (orientation: landscape) {
  @media only screen and (max-width: 1200px) {
    #backgroundImg {
      position: fixed;
      top: 0%;
      left: 50%;
      right: 0%;
      max-width: 60%;
      z-index: -999;
    }
  }
}
