#adminTitle {
  text-align: center;
}

#error {
  color: red;
  margin-left: 10%;
}

#loginForm {
  max-width: 80%;
  padding-left: 10%;
}

#loginButton {
  margin: 10% 40%;

  text-align: center;
  max-width: 20%;
}
