.loading {
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  animation: blinker 2s linear infinite;
}

.sending {
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.error {
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
