#certlistitem {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
  background-color: white;
}

.certificate {
  width: 80%;
  margin: 5% 0;
}
#certlist {
  padding: 0;
  margin: 0;
  animation: backgroundFade 2s;
}
@keyframes backgroundFade {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  #certlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    width: 80%;
    padding: 0;
    margin: 5% 5% 5% 10%;
  }

  .certificate {
    width: 100%;
    margin: 5% 5%;
  }
  #certlistitem {
    width: 20%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2%;
  }
  .certificate:hover {
    box-shadow: 10px 10px 10px grey;
  }

  #overlayBackground {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    z-index: 98;
  }

  #certificateExpanded {
    z-index: 99;
    max-width: 60%;
    max-height: 60%;
    margin-top: 5%;
    box-shadow: 20px 20px 10px rgb(70, 70, 70);
    border: 1rem solid black;
  }

  #certlistitem:hover {
    cursor: pointer;
    transform: scale(10px);
  }
}
