#contactForm {
  margin: 5% auto;
  width: 80%;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: backgroundFade 2s;
}
.inputField {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2%;
  background-color: rgba(233, 233, 233, 0.8);
  color: black;
  border-radius: 5px;
}
.messageInput {
  width: 100%;
  resize: vertical;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2%;
  height: 20rem;
  background-color: rgba(233, 233, 233, 0.8);
  color: black;
  border-radius: 5px;
}
@keyframes backgroundFade {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  #contactForm {
    width: 50%;
    max-width: 80%;
  }

  #submitButton {
    align-self: center;
    width: 20%;
  }
}
