nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(#2288d6, #ffffff 90%);
  width: 100%;
  position: sticky;
  top: 0;
}

#navItems {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px;
  /* animation: 1s ease-out 0s 1 slideInFromRight; */
}

.navItem {
  list-style: none;
  font-size: 3.5vw;
  padding-top: 0px;
}

.navIcons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-decoration: none;
}
.navIcons:hover {
  text-shadow: 0px 0px 15px rgb(43, 43, 43);
}

/* @keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
} */

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
  #navItems {
    padding: 0px;
  }

  .navItem {
    font-size: 2.5vw;
    padding-top: 0px;
  }
}

@media only screen and (min-width: 768px) {
  .navItem {
    font-size: 2.5vw;
    margin: 0 2%;
  }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
  #navItems {
    padding: 0px;
  }

  .navItem {
    margin: 0 5%;
    font-size: 1vw;
    padding-top: 0px;
  }
}
