:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #424242;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: underline;
  font-weight: bold;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  margin-top: 2%;
  background-color: rgba(233, 233, 233, 0.8);
  color: black;
  border-radius: 5px;
  font-weight: 600;
}
